<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.red_folder.phonegap.plugin.backgroundservice"
        version="3.3">

    <name>Background Services</name>

    <description>
        A plugin (and framework code) that allows the development and operation of an Android Background Service.
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <!-- android -->
    <platform name="android">
        <js-module src="www/backgroundservice.js" name="BackgroundService">
            <clobbers target="window.plugins.BackgroundServices" />
        </js-module>
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundServicePlugin">
                <param name="android-package" value="com.red_folder.phonegap.plugin.backgroundservice.BackgroundServicePlugin"/>
            </feature>
    
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="com.red_folder.phonegap.plugin.backgroundservice.MyService">
                <intent-filter>         
                    <action android:name="com.red_folder.phonegap.plugin.backgroundservice.MyService"/> 
                </intent-filter>     
            </service>

            <receiver android:name="com.red_folder.phonegap.plugin.backgroundservice.BootReceiver">
                <intent-filter>     
                    <action android:name="android.intent.action.BOOT_COMPLETED"></action>   
                </intent-filter> 
            </receiver>
            
        </config-file>
        
        <source-file src="src/android/MyService.java" target-dir="src/com/red_folder/phonegap/plugin/backgroundservice" />
        <source-file src="src/android/backgroundserviceplugin-3.1.0.jar" target-dir="libs"/>
    </platform>

</plugin>